<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Gestion de maintenance assistée par ordinateur">
<meta name="author" content="Lionel Coutinot">
<meta name="revisit-after" content="30 days">
<meta http-equiv="title" content="gmao">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="robots" content="All">
<meta http-equiv="content-language" content="fr"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<title>index_gmao</title>
 {% block stylesheets %}
               <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/stylebis.css') }}">
        {% endblock %}
<style>


    </style>
</head>
<body>


<div id="bloc_page">
<div  id="titre">
<div id="titre1">
<br /><br />
<a href="{{ path('machine') }}" class="lien" >GMAO</a>
</div>
</div>

</div>


</body>
</html>