body
{
    
    font-family: Calibri, Verdana, Arial,  sans-serif;
     background-color:white;
   }

#bloc_page
{
    width:900px;
    margin:auto;	
	 }
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}

#titre
{
display:block;
position: absolute;
top:150px;
width:900px;
}


#titre1
{
margin:auto;
width:600px;
height:200px;
text-align:center;
}

.lien
{
	display: block-inline;       
	width : 350px;	     
      border: 2px solid brown;	
      border-radius: 10px;
	background-color:#FFFFAA;    	
     font-weight:bold;
    text-align: center;
	color:brown;
	text-decoration : none;
	font-size:80pt;
     padding: 3px 8px 3px 8px;	
	 }